<li class='country-list__item'>
  <p class='country-name country-name--list'><span class='font-weight-bold'><img
        class='country-image'
        src={{this.flags.svg}}
        alt='flag'
        width='24'
        height='16'
      />
      {{this.name.official}}</span></p>
</li>